<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"><br>
        名：<input type="text" v-model="lastName">
        <!-- 姓不超过3位 再输入也不显示 vue推荐表达式尽可能简练 我们尝试使用methods -->
        <h2>全名：{{firstName.substring(0,3)}}-{{lastName}}</h2>
    </div>

    <script>
        Vue.config.productionTip = false;
        new Vue({
            el: "#root",
            data() {
                return {
                    firstName: "姓氏",
                    lastName: "名字"
                }
            },
        })
    </script>

</body>

</html>